In [ ]:
Pandas continuation:
    Understanding the concept of DataFrames

In [ ]:
DataFrames: --> It can handle 2 dimensional datas...

In [ ]:
pandas.DataFrame(data,index,columns,dtype,copy) #General syntax of DataFrame...

In [1]:
#Creating an empty DataFrame

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame()

In [4]:
print(df)

Empty DataFrame
Columns: []
Index: []

In [5]:
#Creating a df from lists...

In [6]:
data = ['ram','raji','ashok','jeeva','krish']

In [7]:
df = pd.DataFrame(data)

In [8]:
print(df)

       0
0    ram
1   raji
2  ashok
3  jeeva
4  krish

In [9]:
#Enhancing the dataframe

In [10]:
data = [['aishwarya',10],['rose',9],['mithra',8]]

In [11]:
df = pd.DataFrame(data, columns = ['Name','Marks'])

In [12]:
print(df)

        Name  Marks
0  aishwarya     10
1       rose      9
2     mithra      8

In [13]:
data = [['aishwarya',10],['rose',9],['mithra',8]]

In [16]:
df = pd.DataFrame(data, index = ['rank1','rank2','rank3'], columns = ['Name','Marks'], dtype = float)

In [17]:
print(df)

            Name  Marks
rank1  aishwarya   10.0
rank2       rose    9.0
rank3     mithra    8.0

In [18]:
#Creating a DataFrame from a dictionary of ndarrays/list.

In [19]:
data = {'Name':['Ram','Raj','Van','Car'],'Age':[25,26,22,32]}

In [20]:
df = pd.DataFrame(data)

In [21]:
print(df)

  Name  Age
0  Ram   25
1  Raj   26
2  Van   22
3  Car   32